header{background-color: black;}
a{text-decoration: none; color:#000;}
li{color:#edb342;}


.menu-container a{color:white;}
.menu-container{width:100%; height: 0px; overflow: hidden;}
.header_menu_item{display: block; padding:20px; text-align: center;}
.header_menu_item a:hover{color: #edb342;display: block;}
.header_menu_item a:hover{color:#edb342;}
.header_icon_bar{display: block; float: right; padding: 20px; }
.header_icon_bar span{display: block; height:3px; width:30px; background: #edb342; margin-bottom: 5px;}
.is-open{height: auto; overflow:auto; position:absolute;background-color: black;z-index:2;}


.cover_copy{background-color: #edb342; height:90vh ;position:relative;z-index:1; padding: 20px;}
.cover_copy img{ display: block; margin: auto; height: 40%; padding-top: 100px;}
.cover_copy h1,h4{color: #000; text-align: center; font-family: "Papyrus";  margin:0px;}

.presentazione{ padding:0; height:100vh; display:flex; background-color: #000000; }
.slider{width:450px; height: 500px; overflow: hidden; float: left; margin-left: 200px;margin-top: 70px;}
.slides{width:500%; height:500px; display: flex;}
.slide_first{ width:20%; height:500px; display: flex;;}
.slides input{display:none;}
.slide { width:20%;}
.slide img{ width:450px; height: 500px;object-fit: cover;}
.navigation_manual{
    position:absolute;width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;}
.manual-btn{border: 2px solid rgb(255, 255, 255);padding: 5px; border-radius: 10px;cursor:pointer;transition: 2s;}
.manual-btn:not(:last-child){margin-right: 40px;}
.manual-btn:hover{background: black;}

#radio1:checked ~ .slide_first{margin-left: 0;}
#radio2:checked ~ .slide_first{margin-left: -20%;}
#radio3:checked ~ .slide_first{margin-left: -40%;}
#radio4:checked ~ .slide_first{margin-left: -60%;}
.container{background-color: white;float:right;margin-top: 70px;margin-right: 200px;width:450px; height: 500px; }
.container h2{font-family:Verdana, Geneva, Tahoma, sans-serif;text-align: center;margin-top: 80px;}
.container p{margin-left:50px;margin-right:50px; margin-top:80px; text-align: center;}


.footer-container{text-align:center; border: 5px; margin:0px; padding:20px;background-color: black;}
.footer-container li{color:#edb342; display: inline-block;}

@media(max-width: 767px){
  .cover_copy img{padding-top: 200px; height: 20%;}
  .cover_copy{height: 767px;}
  .cover_copy h1{padding: 9px}
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
* html .clearfix        { zoom: 1;}
*:first_child+html .clearfix {zoom: 1;}

