header{background-color: #264a2f;}

.header_menu_item {display: inline-block; padding:20px; text-decoration: none; color: #fff;}
a{text-decoration: none; color: #fff;}
.header_menu_item a:hover{color: #fff;display: block;}
.header_menu_item a:hover{background: #51855e; padding: 10px;}
.header_icon_bar{display: block; float: right; padding: 20px; display: none;}
.header_icon_bar span{display: block; height:3px; width:30px; background: #fff; margin-bottom: 5px;}

.menu-container{border: 2px; margin:0px; overflow: hidden; }
.menu-container{float:right; margin: 0px; padding: 0px;}
.contenitore-titolo{background-color: #51855e;}
.contenitore-main{background-color: #51855e; height: 100%;}
.footer-container{text-align:right; border: 5px; margin:0px; padding:20px;background-color: #264a2f;}
.footer-container li{color:#fff; display: inline-block;}

img {width 100px; height: 100px; align-content: center;}
.cover,
.cover2{color: #fff; text-align: center; font-family: "Papyrus"; margin: 0%; padding: auto;}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
* html .clearfix        { zoom: 1;}
*:first_child+html .clearfix {zoom: 1;}

